altgraph==0.17
asyncio==3.4.3
beautifulsoup4==4.9.3
bitstring==3.1.7
blurhash==1.1.4
boost==0.1
bs4==0.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cmake==3.20.4
colorama==0.4.4
cryptography==3.4.6
cycler==0.10.0
decorator==5.0.9
demjson==2.2.4
dlib==19.22.0
ecdsa==0.16.1
esptool==3.0
fake-useragent==0.1.11
Flask==2.0.0
future==0.18.2
gopup==0.1.1
goto-statement==1.2
greenlet==1.1.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
jsonpath==0.82
kiwisolver==1.3.1
MarkupSafe==2.0.1
Mastodon.py==1.5.1
matplotlib==3.4.1
MouseInfo==0.1.3
numpy==1.20.1
opencv-python==4.5.2.54
pandas==1.2.2
pdfminer==20191125
pdfminer.six==20201018
pdfminer3k==1.3.4
pefile==2019.4.18
Pillow==8.1.0
ply==3.11
PyAutoGUI==0.9.52
pycparser==2.20
pycryptodome==3.10.1
PyExecJS==1.5.1
PyGetWindow==0.0.9
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyparsing==2.4.7
PyPDF2==1.26.0
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.26
pyserial==3.5
python-dateutil==2.8.1
python-magic==0.4.24
PyTweening==1.0.3
pytz==2021.1
pywin32-ctypes==0.2.0
pyzbar==0.1.8
reedsolo==1.5.4
request==1.0.117
requests==2.25.1
retrying==1.3.3
SimpleWebSocketServer==0.1.1
six==1.15.0
sortedcontainers==2.3.0
soupsieve==2.2
SQLAlchemy==1.4.20
urllib3==1.26.3
websockets==9.0.1
Werkzeug==2.0.1
